@import '../settings';

$root_dev: "//localhost:3000/randomseeds/";
$root_prod: "http://randomseeds.com/";
$myroot: $root_prod;

$myblack: #262626;

.site-logo .site-desktop-title {
  font-family: "Bitter";
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  margin-top: -6px;
}

.site-logo a { color: $white; }
.site-logo a:hover { color: $primary-color; }

.site-desktop-tag {
  font-family: "Bitter";
  font-size: 1.2rem;
}

// Override fontawesome sizing
.fa-2x {
  font-size: 1.6em;
}

// top-bar desktop title and link
.site-desktop-title a {
  font-family: "Bitter";
  font-weight: 700;
}

.top-bar .top-bar-title a {
  font-size: 2.2rem;
  color: $white;
}

// top-bar mobile title and link
.site-mobile-title {
  font-family: "Bitter";
}

.title-bar-title a {
  font-size: 1.5rem;
  color: $white;
}

.top-bar-title {
  margin: 0 1rem 0 0;
}

// mysidebar
.mysidebar {
  color: $white;
  background-color: $myblack;
  min-width: 285px;
  border-right: 1px solid $light-gray;
  //border-bottom: 1px solid $light-gray;

  h3 {
    //color: $primary-color;
    font-size: 1.3rem;
  }

  input, select {
    border: 1px solid $myblack;
    //background-color: $light-gray;
  }

  #searchform .button {
    color: $myblack;
    background-color: $light-gray;
    border: 1px solid $myblack;
    border-left: 0;
  }

  #searchform .button:hover {
    color: $primary-color;
    background-color: $light-gray;
  }

  //.mysidebar .menu li:last-child {
  //  border-bottom: 1px solid #e6e6e6;
  //}

}

.title-bar {
  background: $myblack;
}

.mobile-off-canvas-menu {
  color: $white;
  background-color: $myblack;

  input, select {
    border: 1px solid $myblack;
    //background-color: $light-gray;
  }

  #searchform .button {
    color: $myblack;
    background-color: $light-gray;
    border: 1px solid $myblack;
    border-left: 0;
  }

  #searchform .button:hover {
    color: $primary-color;
    background-color: $light-gray;
  }
}

.menu {
  //font-weight: bold;
}
.menu a {
  color: $white;
}
.menu li:hover {
  color: $primary-color;
  background-color: $medium-gray;
}
.menu li:hover a {
  color: $primary-color;
}
.menu .is-active > a {
  background-color: $dark-gray;
}

// cards
.card-header {
  @extend .card-section;
  background-color: $white;
  color: $myblack;

  a {
    color: $myblack;
  }

  .entry-title {
    font-size: 14px;
    font-weight: bold;
    //line-height: 1.5;
    margin-bottom: 0;
  }

  .entry-meta {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

//// for excerpt top-border workaround
//.entry-content .card-section {
//  border-top: 1px solid $light-gray;
//}

/////// GridBlock card a:hover highlight
.my-main-container .card a {
  color: $myblack;
}

.my-main-container .card:hover a {
  color: $dark-gray;
}

.my-main-container .card:hover .card-header {
  color: $primary-color;
}

.my-main-container a:hover img, .my-main-container a:focus img {
  opacity: 0.7;
}

.my-main-container a img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.my-main-container .card .post-edit-link {
  color: $primary-color;
}

.my-main-container .card:hover .post-edit-link {
  color: $primary-color;
}

/////// END GridBlock card a:hover highlight

.image-circle-crop {
  height: auto;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid $myblack;
}

#respond {
  max-width: 650px;
}

.footer-container {
  max-width: 100%;
  margin-top: 0;
}

////////////////
.round-corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.round-top-corners {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.round-bottom-corners {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@include breakpoint(small only) {

}

@include breakpoint(medium only) {

  // mysidebar
  .mysidebar {
    min-width: 235px;
  }

  .mysidebar h3 {
    //color: $primary-color;
    font-size: 1.1rem;
  }

  .site-logo .site-desktop-title {
    font-size: 2.1rem;
  }

  .mysidebar .site-desktop-tag {
    font-size: 0.98rem;
  }

  .mysidebar .menu {
    font-size: 14px;
  }

}


